.sl-team-block {
    padding: .5rem;
    margin: .1rem;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
}

.sl-team-block.selected {
    background-color: lightgray;
}

.sl-team-block:hover {
    background-color: white;
}