<h3>This is Home Component</h3>
<h4>Hello: {{$ctrl.user.display_name}}</h4>
<button ng-click="$ctrl.getUserTeams()">Get User Teams</button>
<ul>
    <li ng-repeat="(uuid, team) in $ctrl.userTeams" ng-click="$ctrl.getTeamRepositories(team.username)">
        <h5>{{team.display_name}}</h5>
        <ul>
            <li ng-repeat="repo in $ctrl.repositories[team.uuid]" ng-click="$ctrl.getRepoCommits(repo.owner.username, repo.slug)">
                <h6>{{repo.slug}}</h6>                   
            </li>
        </ul>

    </li>
</ul>


