<h3>Hello: {{$ctrl.user.display_name}}</h3>
<span>Please select your role in bitbucket team</span>
<select ng-options="role for role in $ctrl.roles" ng-model="$ctrl.selectedRole">
        <option value="">-- choose role --</option>
</select>
<button ng-click="$ctrl.getUserTeams()" ng-if="$ctrl.selectedRole">Show teams</button>
<br/>
<div class="sl-ui-link" ng-repeat="team in $ctrl.userTeams" ui-sref="team({teamuuid : team.uuid})" ui-sref-active="selected">{{team.display_name}}</div>
<br/>
 <ui-view></ui-view>