.sl-ui-link {
    display: inline-block;
    margin: 0.2rem;
    padding: 0.5rem;
    border: 1px solid black;
    cursor: pointer;
}

.sl-ui-link:hover {
    background-color: white;
}

.sl-ui-link.selected {
    background-color: lightgray;
}